.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: darkcyan;
}

.login {
  padding: 5px 20px;
}

.sidebar input {
  width: 100%;
}

.chat-rooms .active {
  background-color: whitesmoke;
  color: #181919;
}

.chat-rooms li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  color: #181919;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}

.room-list h3 {
  padding-left: 20px;
  padding-right: 20px;
}

.room-unread {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  background-color: greenyellow;
  color: #222;
}

.chat-rooms li:hover {
  background-color: #D8D1D1;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 20%);
}

.chat-header {
  height: 70px;
  flex-shrink: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-header h3 {
  margin-bottom: 0;
  text-align: center;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  min-height: min-content;
}

.message {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.message span {
  display: block;
  text-align: left;
}

.message .user-id {
  font-weight: bold;
}

.message-form {
  border-top: 1px solid #ccc;
}

.message-form, .message-input {
  width: 100%;
  margin-bottom: 0;
}

input[type="text"].message-input {
  height: 50px;
  border: none;
  padding-left: 20px;
}
